html {
    min-height: 100%;
}

body {
    color: #e0e0e0;
    min-height: 100vh;
}

.wrap-container {
    width: 100vw;
    height: 100vh;
}

.container {
    max-width: 960px;
    width: 100%;
    background-color: #191818;
}

.title {
    color: #e0e0e0;
}

.master-volume {
    color: #e0e0e0;
}

.bi-volume-mute-fill, .bi-volume-up-fill {
    color: #ccc;
}

.main-controls {
    background-color: #1e1e1e;
}

.main-controls .btn {
    font-size: 3.5rem;
    line-height: 1;
    color: #ffffff;
    padding: 0.5rem;
}

.main-controls .btn:hover {
    color: #b856f9;
}

.master-volume-wrapper {
    max-width: 300px;
}

#rangeValue {
    color: #ccc;
}

.sound-control {
    background-color: #1e1e1e;
    border: 2px solid #333;
    border-radius: 0.5rem;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    margin-bottom: 20px;
    height: 90%;
    display: flex;
    flex-direction: column;
}

.sound-control:hover {
    border-color: #f50dfd;
}

.sound-control i {
    font-size: 2.5rem;
    color: #ccc; /*light icon */
    transition: color 0.2s ease-in-out;
}

.sound-control h6 {
    color: #ccc;
    margin-bottom: 0.25rem;
    user-select: none;
}

.sound-volume {
    display: none;
    margin-top: auto;
}

.sound-control.active {
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.sound-control.active i,
.sound-control.active h6 {
    color: #ffffff;
}

.sound-control.active .sound-volume {
    display: block;
}

#ambient-canvas {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh; 
    z-index: -1;  
    background-color: #191818; 
}

.visual-effect-indicator {
    display: block;
    margin-bottom: 0.75rem;
    font-size: 0.7rem;
    font-style: italic;
    color: #888;
    user-select: none;
}

.sound-control.active .visual-effect-indicator {
    display: none;
}

#color-adapt-btn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #333;
    background-color: #1e1e1e; /* Default dark background */
    color: #888; /* Default icon color */
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.5s ease; /* Smooth color transition */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px; /* Spacing from play button */
    
    /* Remove default button junk */
    outline: none;
    padding: 0;
}

#color-adapt-btn:hover {
    background-color: #333;
    color: #fff;
    transform: scale(1.1); /* Slight grow effect */
}

/* When active (Class added by JS) */
#color-adapt-btn.active {
    border-color: white;
    transform: scale(1.1);
}