html {
    min-height: 100%;
}

body {
    color: #e0e0e0;
    min-height: 100vh;
}

.wrap-container {
    width: 100vw;
    height: 100vh;
}

.container {
    max-width: 960px;
    width: 100%;
    background-color: #191818;
}

.title {
    color: #e0e0e0;
}

.master-volume {
    color: #e0e0e0;
}

.bi-volume-mute-fill, .bi-volume-up-fill {
    color: #ccc;
}

.main-controls {
    background-color: #1e1e1e;
}

.main-controls .btn {
    font-size: 3.5rem;
    line-height: 1;
    color: #ffffff;
    padding: 0.5rem;
}

.main-controls .btn:hover {
    color: #b856f9;
}

.master-volume-wrapper {
    max-width: 300px;
}

#rangeValue {
    color: #ccc;
}

.sound-control {
    background-color: #1e1e1e;
    border: 2px solid #333;
    border-radius: 0.5rem;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.sound-control:hover {
    border-color: #f50dfd;
}

.sound-control i {
    font-size: 2.5rem;
    color: #ccc; /*light icon */
    transition: color 0.2s ease-in-out;
}

.sound-control h6 {
    color: #ccc;
    margin-bottom: 0.75rem;
    user-select: none;
}

.sound-volume {
    display: none;
}

.sound-control.active {
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.sound-control.active i,
.sound-control.active h6 {
    color: #ffffff;
}

.sound-control.active .sound-volume {
    display: block;
}

#ambient-canvas {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh; 
    z-index: -1;  
    background-color: #191818; 
}